@media only screen and (max-width: 1350px) {
    #header-hero {
        flex-direction: column;
    }
    #header-first-text {
        width: 100%;
    }
    #scroll-down {
        width: 100%;
        justify-content: left;
    }
    #scroll-down img {
        margin: 2.1rem;
    }

    #seasonal-banner-container {
        height: 50vh;
    }

    #header-button-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .header-button {
        margin-top: 1rem;
        width: auto;
    }

    #about-body {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 6rem;
        padding-bottom: 1rem;
    }
    #about-body-text {
        margin-bottom: 5rem;
        height: 120%;
    }
    #about-body-text-title h1 {
        width: 60vw;
        line-height: 95%;
    }
    #about-body-text h3 {
        width: 60vw;
        font-size: 20px !important;
    }
}