#header {
    background-color: var(--color-text-secondary);
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80vw;
    height: auto;
    padding-top: 5rem;
}

#header-hero {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: visible;
}


#header-first-text {
    color: var(--color-text);
    font-size: 4em;
    overflow: hidden;
    white-space: pre-line;
    line-height: 95%;
    overflow-y: hidden;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

#seasonal-banner-wrapper {
    overflow: hidden;
    height: 42vh;
    border-radius: 1.25rem;
    z-index: 10;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#seasonal-banner {
    width: 100%;
}

#seasonal-banner-egg{
    opacity: 0;
}

#seasonal-banner-pan{
    position: absolute;
    width: 80vw;
    display: block;

}

#seasonal-banner-container {
    display: flex;
    flex-direction: row;
    width: 78vw;
    height: 42vh;
    overflow: hidden;
    border-radius: 1.25rem;
    background-color: var(--color-primary);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#seasonal-banner-text-wrapper { 
    position: absolute;
    overflow: hidden;
    display: flex;
    width: 78vw;
    opacity: 0.5;
}

#seasonal-banner-text-wrapper h1 {
    font-size: 10vw;
    margin: auto;
    color: var(--color-background-primary);
    z-index: 1;
}

#header-button-wrapper {
    margin-top: 2rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
}

#button-1 {
    background-color: var(--color-text);
    color: var(--color-text-secondary);
}

#button-2 {
    background-color: var(--color-background-primary);
    color: var(--color-text);
}

#scroll-down { 
    z-index: 11;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
    overflow-y: hidden;
}

#scroll-down span {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.25rem dashed var(--color-secondary-darker);
    background-color: transparent;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#scroll-down img {
    height: 4.5rem;
    position:absolute;
    margin: auto;
}

#scroll-down span:hover {
    background-color: var(--color-primary);
    border-color: var(--color-secondary-darkest);
    opacity: 50%;
}

#header-text {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#header-first-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    z-index: 1;
}


/*------------------------------------------------------*/

#about {
    z-index: 2;
    display: flex;
    width: 80vw;
    padding-top: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    /* border-top: 0.15rem solid var(--color-text) */
}

#about h1 {
    margin-top: 3rem;
    overflow-y: hidden;
}

#about-body {
    margin-top: 2rem;
    display: flex;
}

#character {
    margin-top: -4rem;
    width: 32rem;
    height: 36rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#character img {
    position: absolute;
}

#cloud {
    width: 38rem;
    margin-top: 10rem;
}

.floating-img-small {
    transform: translateY(-5%);
    animation: floater-small 2s infinite !important;
    transition: ease 1.5s;
}

.floating-img-medium {
    transform: translateY(-8%);
    animation: floater-medium 2s infinite !important;
    transition: ease 1.5s;
}

.floating-img-large {
    transform: translateY(-1%);
    animation: floater-large 2s infinite !important;
    transition: ease 1.5s;
}

@keyframes floater-small {
    0%{transform:
    translateY(-5%);
    transition: ease 1.5s; }

    50%{transform:
    translateY(5%);
    transition: ease 0.5s;
    }
}

@keyframes floater-medium {
    0%{transform:
    translateY(-8%);
    transition: ease 1.5s}

    50%{transform:
    translateY(8%);
    transition: ease 1.5s;
    }
}

@keyframes floater-large {
    0%{transform:
    translateY(-1%);
    transition: ease 1.5s}

    50%{transform:
    translateY(20%);
    transition: ease 1.5s;
    }
}

#hat {
    width: 10rem;
    margin-top: -24rem;
}

#seasonal-head {
    width: 11rem;
    margin-top: -9rem;
}

#arms {
    width: 26rem;
    margin-top: -16rem;
    margin-left: 2.5rem;
}

#legs {
    height: 8rem;
    margin-top: -3rem;
    margin-right: 3.75rem;
}

#book {
    width: 9rem;
    margin-top: 14rem;
    margin-left: -14rem;   
}

#computer {
    width: 9rem;
    margin-top: 4rem;
    margin-right: -24rem;
}

#paintbrush {
    width: 2rem;
    margin-top: -24rem;
    margin-left: 16rem;
}

#big-sparkle {
    width: 2.5rem;
    margin-top: 2.5rem;
    margin-right: 24rem;
}

#sparkle-group {
    width: 2.5rem;
    margin-top: -24rem;
    margin-right: 17rem;
}

#about-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#about-body-text-title {
    z-index: 5;
    width: 40vw;
    overflow: hidden;
    white-space: pre-line;
}

#about-body-text div{
    display: flex;
    flex-direction: row;
    width: 40rem;  
    height: auto; 
}
#about-body-text div img{
    width: 1rem;
}

#about-body-text h3 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.5vw;
    overflow: hidden;
    white-space: pre-line;
    line-height: 1.3;
    width: 40vw;
}

/*-----------------------------------------------------*/

#experience { 
    padding-top: 4rem;
    width: 80vw;
    align-items: center;
    height: 55vh;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experience-body {
    display: flex;
    flex-direction: column;
    justify-content: left; 
    background-color: var(--color-text);
    color: var(--color-background-primary);
    border-radius: 1.25rem;
    width: 80vw;
}

#experience-body div {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    margin-bottom: 0;
}

#experience-body div img {
    width: 2rem;
}

#experience-body div h1 {
    font-weight: 900;
}

#experience-content-wrapper {
    margin-top: -2rem;
    margin-left: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-content {
    line-height: 1.4;
    width: 30%;
    display: flex;
    flex-direction: column !important;
    white-space: nowrap;
}

.experience-content h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.experience-content h3 {
    margin-top: 2rem;
    font-weight: 400;
    opacity: 50%;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.company { 
    opacity: 50%;
}
/*------------------------------------------------------*/

.portfolio {
    padding-top: 6rem;
    width: 80vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

#ux-design-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#ux-design-header {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
}

#blue-sparkle {
    width: 1.5rem;
}

#ux-design-header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

#ux-design-header-text h3 {
    padding: 0.75rem;
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
    border-radius: 0.75rem;
    margin-right: 0.5rem;
    font-weight: 600;
}

.ux-design-entry {
    width: 80vw;
    height: 30rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: center;
}

#ux-design-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

#ux-design-desc {
    padding: 2rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8rem;
}

#ux-design-desc h3 {
    width: 20rem;
}

#ux-design-desc a{
    text-decoration: none;
    width: 9.1rem;
}

#ux-design-div {
    height: 12rem;
    display: flex;
    flex-direction: column;
}

.ux-design-mockups {
    height: 32rem;
}

.ux-design-logo {
    height: 4rem;
    margin-left: 1rem;
}

#uw-navi {
    background-color: #1DD8D8;
}

#ux-design-desc h4 {
    font-weight: 400;
    opacity: 0.5;
}

#vola {
    background-color: #B7D58F;
    margin-bottom: 6rem;
}

#rendezvoo {
    background-color: #2868A3;
}

#rendezvoo h1 {
    color: var(--color-background-primary);
}

#rendezvoo h3 {
    color: var(--color-background-primary);
}

#rendezvoo h4 {
    color: var(--color-background-primary);
}

/*-----------------------------------------------*/

#visual-design-header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

#visual-design-header-text h3 {
    padding: 0.75rem;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    border-radius: 0.75rem;
    margin-right: 0.5rem;
    font-weight: 600;
}

#visual-arts-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: 2rem;
}

#visual-arts-gallery div span {
    width: 1rem;
    display: inline-block;
}

.visual-arts-piece {
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    width: 80%;
}

#visual-arts-component {
    margin-bottom: 1rem;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
