* {
    scroll-behavior: smooth;

    font-family: 'Poppins';
    overflow-x: hidden;
    user-select: none;
    margin: 0;

    /*primary colors*/
    --color-primary: #0057FF;
    --color-secondary: #3F80FF;
    --color-tertiary: #8BCCF0;

    --color-secondary-darker: #DEDEDE;
    --color-secondary-darkest: #FAFAFA;

    /*typography & button colors*/
    --color-text: #1b1b1b;
    --color-text-secondary: #E2E8F8;
    --color-text-tertiary: #CFCFCF;

    /*background colors*/
    --color-background-primary: #ECEFF8;
    --color-background-secondary: #E6EAF8;
    --color-background-tertiary: #DADFF1;
    
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    background-color: var(--color-background-primary);

    /* -ms-overflow-style: none;
    scrollbar-width: none;  */

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


section {
    background-color: none;
    border-radius: 0.5rem;
    width: 90vw;
}

.section-top {
    margin-top: 4.15vmax;   
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h6 {
    font-size: 1.1vmax;
}

h5 {
    font-size: 1.25vmax;
}

h4 {
    font-size: 1.2vmax;
}

h3 {
    font-size: 1.8vmax;
}

h2 {
    font-size: 3.2vmax;
}

h1 {
    font-size: 5vmax;
}

.highlight {
    color: var(--color-primary)
}


.header-icon {
    height: 3.5vw;
}

.header-icon-h2 {
    height: 2.5vw;
}

.back-arrow {
    width: 2vw
}

ol {
    margin-top: 1vw;
}

/* -------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 0.75vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-background-tertiary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: block;
    background: rgba(0, 0, 0, 10);
  }

/* --------------------------------------------------------- */

.main-button a{
    padding-left: 0.5vw;
    padding-right: 0.5vw;  
}

.main-button {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    padding: 0.5vmax;
    cursor: pointer;
    justify-content: center;
    background-color: var(--color-primary);
    /* border: 0.1rem solid var(--color-text) */
}

.main-button:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.main-button-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-button-img {
    margin-left: 0.5vw;
    width: 1vw;
}

.main-button a h1, .main-button a h2, .main-button a h3, .main-button a h4, .main-button a h5, .main-button a h6 {
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.main-button a h5 {
    text-decoration: none;
    color: white;
}

/* -------------------------------------------------------- */

.section-title-wrapper {
    display: flex;
    align-items: left;
    opacity: 0.75;
}

.section-title {
    background-color: var(--color-background-tertiary);
    border-radius: 100rem;
    padding-left: 1.5vmax;
    padding-right: 1.5vmax;
    padding-top: 0.5vmax;
    padding-bottom: 0.5vmax;
    margin-right: 1vw;
}

.section-title h5 {
    color: var(--color-text) !important;
    opacity: 0.5;
    font-weight: 500;
}

#image-title {
    position: absolute;
}

#image-title div {
    background-color: var(--color-text);
    opacity: 0.9;
}

#image-title div h5 {
    color: var(--color-background-primary) !important;
}

/* --------------------------------------------------------- */

.filler {
    display: flex;
    flex-direction: row;
    background-color: var(--color-secondary);
    justify-content: space-between;
    align-items: center;
}

.filler div img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width:4.5vw; 
}

.filler h2 {
    font-size: 3.25vw;
}

/* -----------------------------------------------------------*/

#footer {
    width: 100vw;
    border-radius: 0;
    background-color: var(--color-text);
}

#footer-content {
    height: 15vw;
    margin-right: 8vmax;
    margin-left: 8vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    color: var(--color-background-primary);
}

#footer-links {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

#footer-links img {
    width: 1vw;
    margin-left:0.25vw;
}

#footer-statement {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

#footer-statement h3 {
    font-weight: 400;
}

#footer-links a {
    color: var(--color-background-primary);
}

#footer-links a:hover {
    text-decoration: underline;
}