.portfolio-wrapper {
    display: flex;
    width: 100vw;
    background-color: var(--color-background-primary)
}

section {
    width: 100%;
}

/* --------------------------------------------------------- */

.portfolio-section-title-wrapper {
    margin-top: 2vw;
}

.portfolio-header { 
    margin-top: 20vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.problem-box {
    margin-right: 8vw;
    margin-left: 8vw;
    margin-bottom: 2vw;
}

.problem-box ol {
    margin-bottom: 2vw;
}

.problem-box ol li {
    overflow: hidden;
}

.portfolio-header-title a {
    opacity: 0.5;
    margin-bottom: 2vw;;
    color: var(--color-text)
}

.portfolio-header-title a:hover {
    text-decoration: underline;
}

.prototype-button{
    width: 100%;
    border-radius: 0.25vw;
}

.prototype-button:hover {
    filter: brightness(75%);
}

.portfolio-header-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.portfolio-header-title h1 {
    line-height: 4vmax;
    overflow: hidden;
    margin-bottom: 0.5vw;
}

.portfolio-header-title h4 {
    color: var(--color-text);
    text-transform: uppercase;
    opacity: 0.5;
}

.portfolio-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 8vw;
    margin-left: 8vw;
}

.header-title-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-title-content h4{
    text-transform: none;
    width: 50%;
    display: flex;
    margin-top: 0;

}

/* --------------------------------------------------------- */

.portfolio-roles-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
}

.portfolio-roles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-right: 8vw;
    margin-left: 8vw;
}

.portfolio-roles-content {
    margin: 1vw;
    color: var(--color-text);
}

.portfolio-roles-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:auto;
    margin-right: 8vw;
    margin-left: 8vw;
    background-color: var(--color-background-secondary);
    padding: 2vw;
    border-radius: 0.25rem;
    margin-top: 1vw;
}

.portfolio-roles-2 {
    display: flex;
}

.roles-title {
    font-weight: 600;
}

.portfolio-desc {
    color:  var(--color-text-tertiary);
    overflow: hidden;
    font-weight: 400;
}

#disclaimer {
    opacity: 0.5;
}

#portfolio-desc-content {
    margin-top: 2vw;
    text-indent: 2vw;
}

#roles-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.portfolio-roles-2 div .portfolio-desc {
    width: 40vw;
}

/* ------------------------------------------------------------*/

#definition-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.definition {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0.5rem;
    width: 32.5%;
}

.definition-title {
    display: flex;
    margin: 2vw;
    margin-bottom: 1vw;
    width: 85%;
    justify-content: space-between;
}

.definition-content {
    margin: 2vw;
    margin-top: 1vw;
}

.definition-content h6{
    margin-top: 1vw;
    color: var(--color-primary);
    opacity: 0.4;
}

.definition-title img {
    height: 2vw;
}

.definition 

/* ------------------------------------------------------------*/

#portfolio-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio-section {
    padding-top: 1vw;
    padding-bottom: 2vw;
    width: 100%;
}

#portfolio-section-title, #portfolio-section-title-longer {
    position: relative;
    background-color: var(--color-background-primary);
    margin-top: 5vw;
    margin-bottom: 2vw;
    opacity: 0.25;
    text-transform: uppercase;
}

#portfolio-section-title:after, #portfolio-section-title-longer:after {
    content: "";
    display: block;
    height: 0.15vw;
    width: 100%;
    opacity: 0.25;
    position:absolute;
    top: 50%;
    left: 7vw;
    background: var(--color-text);
}

#portfolio-section-title-longer:after {
    left: 10vw;
}

#section-darker {
    background-color: var(--color-background-secondary);
}

.portfolio-content-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vmax;
}

.portfolio-content-title h3 {
    font-size: 3.25vw;
    margin: 1vmax;
    margin-left: 2vmax;
    font-weight: 700;
}

#pain-points {
    margin-top: 1vw;
}

#problem-solution {
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 2vw;
    background-color: var(--color-background-secondary);
    border-radius: 0.25rem;
}

#problem-statement h2{
    line-height: 4vw;
    overflow: hidden;
    margin-bottom: 2vw;
}

#portfolio-banner {
    margin-bottom: -0.5vw;
}

#portfolio-banner img {
    width: 100%;
    border-radius: 0.5rem;
}

/* ---------------------------------------------------------- */

.palette-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.palette-content h4{
    width: 60%;
    margin-top: 0.5vw;
}

.palette-title {
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    text-align: left;
}

.palette-title h2 {
    width: auto;
}

#palette-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#palette-img-wrapper {
    margin-top: 2vw;
    background-color: var(--color-background-secondary);
    border-radius: 0.25rem;
    margin-bottom: 4vw;
}

#palette-img-wrapper img{
    width: 100%;
    padding-left: 0;
    padding: 4vw;
}

.list-wrapper {
    overflow-x: visible !important;
}

.components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --------------------------------------------------------- */

.final-title a h2 {
    color: var(--color-text);
}

.final-content {
    margin-bottom: 4vw;
}

iframe {
    margin-top: 2vw;
    width: 100%;
}

/* ---------------------------------------------------------- */

#preview {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

#preview-content {
    margin-bottom: 4vw;
}

