body, nav {
    background-color: #272829;
}

nav h5{
    color: #E1E2EA !important;
}

.content div {
    width: 100%;
}

.content div img {
    width: 100%;
    border-radius: 0.5rem;
}

#illust-header {
    margin-top: 20vw;
    margin-bottom: 2vw;
    width: 86vw;
}

#illust-header h1 {
    overflow: hidden;
    color: var(--color-background-primary) !important;
}

#content-section {
    width: 86vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.content-wrapper {
    width: 100%;
    margin-right: 1rem;
}

.content {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid #313233;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin: 1rem;
    margin-bottom: 0.5rem;
    color: #E1E2EA;
    opacity: 0.25;
    font-weight: 400;
}
